*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar {
    background-color: white !important;
    color: #2222;
    height: 5rem;
}

h3{
    text-align: center;
}
.fa-compass{
    color: rgb(245, 54, 33);
    font-size: 2rem;
}
img{
    object-fit: cover;
    border-radius: 1rem;
}

footer{
    background-color: #ebebeb;
}
.f-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 8rem;
    gap: 10px;
}

.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.body-div{
    padding: 1rem;
    max-height: 100%;
    min-height: 100vh;
}

#navbarNavAltMarkup{
    background-color: white !important;
    text-align: center;
    padding: 1rem;
}

.card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    min-height: 100vh !important;
    gap: 20px;
}

.card-link{
    text-decoration: none !important;
    color: black;
    padding: 0px !important;
    width: 16rem !important;
    height: 21rem !important;
    border-radius: 1rem;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.244);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.066) 5px 5px;
}
.list-card-img{
    width:100% !important;
    height: 14rem;
}

.list-card{
    border: none;
}
.card-body{
    padding: 10px !important;
}

.card-link:hover {
    transform:  translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .bt{
    background-color:  rgb(245, 54, 33) !important;
    color: white !important;
  }

  .show-btns-div{
    display: flex;
    gap: 3px;
  }

  .show-card{
    border: none !important;
    
  }

  .show-img{
    width: 100%;
    height: 40vh !important;
  }

  .review-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  .review-card{
    padding: 5px;
    display: flex !important;
    flex-direction: column;
    gap: 5px;
    min-width: 13rem !important;
    max-width: 15rem !important;
  }
