<% layout('./layouts/boilerplate.ejs') -%>
<body>
    <h3>listing will show here</h3>
    <ul>
        <% for(listing of allList){ %>
            <li>
                <a href="/listings/<%= listing._id %>">
                    <%= listing.title %>
                </a>
            </li>
            <% } %>
    </ul>
</body>