<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>

<body>
    <h3>listing will show here</h3>

    <ul>
        <% for(listing of allList){ %>
            <li>
                <a href="/listings/<%= listing._id %>">
                    <%= listing.title %>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>
